<main role="main">

  <div class="container" style="padding-bottom: 30px">
      <div class="row">
        <div class="col-md-12">
          <div class="well well-lg">
            <div class="row">
              <div class="col-sm-12 text-center">
               <h1>Select a Recipe to Review & Approve/Reject</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>

    <div *ngFor="let recipe of recipeList" class="row text-center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div>
          {{recipe.title}}
        </div>
        <button [routerLink]="['/admin/approve', recipe._id]" class="btn btn-outline-primary">View Recipe</button>
        <br><hr>
      </div>
      <div class="col-md-3"></div>
      <br>
    </div>

  </div>

</main>

