.card-img-top {
  width: 100%;
  height: 233px;
  object-fit: cover;
}

.card {
  background-color: #343a40;
  height: 100%;
}

.img-thumbnail {
  border: 1px solid #343a40;
}

.favoritingIcon {
  padding-top: 7px;
}

.badge-hf {
  background-color: #0cd157 !important;
}

.badge-hc {
  background-color: #319b42 !important;
}

.fa-heart-o, .fa-heart {
  color: red;
}

.fa-star, .fa-star-o {
  color: gold;
}

.stars {
  padding-top: 5px;
  margin-left: -17px;
}

.stars-mobile {
  margin-left: 0;
}

.favoritingIcon-mobile {
  padding-top: 0px;
  padding-bottom: 12px;
}
