<main role="main">

<div class="container" style="padding-bottom: 30px">
  <div class="row heading">
    <div class="col-md-12">
      <div class="well well-lg">
        <div class="row">
          <div class="col-sm-12 text-center">
           <h1>Search Results<br>
           <span style="font-style: italic">'{{searchString}}'</span></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>

<div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <div class="panel-body">

            <div class="marketing">
              <div class="row"  style="text-align: center; align-content: center" >
                <div *ngFor="let recipe of filteredList" class="col-lg-4" style="padding-top: 20px">
                  <app-recipe (rateEvent)="triggerRate($event)" (favoriteEvent)="favEvent($event)"
                              [userId]="userId" [recipe]="recipe" [userRating]="recipe.raters[userId]"></app-recipe>
                </div>
                <div *ngIf="filteredList.length < 1" class="col-lg-12">
                  <h3 style="font-style: italic">No Recipes Found</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Modal -->
  <div style="justify-content: center" class="modal fade" id="C580" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title" id="exampleModalLabel"><span style="font-style: italic; padding-left: 10px">{{selectedRecipe.title}}</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <span (click)="setRating(1)" [ngClass]="{'fa-star': userRating > 0, 'fa-star-o': userRating < 1}" class="fa"></span>
          <span (click)="setRating(2)" [ngClass]="{'fa-star': userRating > 1, 'fa-star-o': userRating < 2}" class="fa"></span>
          <span (click)="setRating(3)" [ngClass]="{'fa-star': userRating > 2, 'fa-star-o': userRating < 3}" class="fa"></span>
          <span (click)="setRating(4)" [ngClass]="{'fa-star': userRating > 3, 'fa-star-o': userRating < 4}" class="fa"></span>
          <span (click)="setRating(5)" [ngClass]="{'fa-star': userRating > 4, 'fa-star-o': userRating < 5}" class="fa"></span>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <button type="button" (click)="submitRate()" data-dismiss="modal" class="btn btn-primary">
            <span *ngIf="!rated" >Rate!</span>
            <span *ngIf="rated" >Change Rate!</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  </div>

</main>
