.btn-toolbar {
  justify-content: center;
}

.btn-group {
  padding-bottom: 2px;
}

main {
  background-color: #343a40;
}

.fa-star, .fa-star-o {
  color: gold;
}

//.heading {
  //background-color: #343a40;
  //color: white;
//}

.container {
  //background-color: #343a40;
  background-color: white;
  height: 100%;
}
